@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$primaryPink:   #FC5C9C;
$secondaryPink: #FCCDE2;
$thirdLinen:    #FCEFEE;

$navColor:          #FFEDF5;
$textBlack:         #4F4F4F;
$badgeStatusOnline: #6FCF97;