#portofolio {
    @include mediaMin(1680px) {
        & {
            font-size: 1.5em;
        }

        button.btn {
            width: 200px;
            font-size: 1.2em;
        }

        aside.sidebar { 
            .navigation {
                margin-top: 40% !important;
            }

            .profile {
                padding: 2em 2em 1em 1em;
            }
        }

        header.header {
            padding: 1.5em 1.7em;
        }
    }
}